/* article {
    text-align: left;
    padding: 2rem;
    width: 50%%;
    margin: 0 auto;
}

section h2 {
    color: #fafafa;
    background-color: #FFCA41;
    padding: 1rem;
    width: 50%;
}

a {
    text-decoration: none;
} */