.detailsCard {
    width: 100%;

    text-align: center;
}

.detailsCard img {
    width: 20%;
}

.uebersicht {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.uebersicht section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    border-bottom: 1px solid black;
    width: 100%;
}

.ubersichtCard img {
    width: 10%;
}

.navbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: #FFCA41;
}

.navbar img {
    display: flex;
    margin: 0 auto;
    width: 10%;

}

button {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
}